.sign-in {
  .form-box {
    width: 500px;
    top: 200px;
    margin: 0 auto;
    @include border-radius($radius);

    .form-center {
      margin-top: 100px;
      padding: 20px;
      background: #ddd;
      @include border-radius($radius);
    }
  }
}