<%= paginate_for(@users) %>
<%= page_header "List user" do %>
  <%= link_to 'New User', new_user_path() %>
<% end %>

<table class='table'>
  <thead>
    <tr>
      <td>Login</td>
      <td>Name</td>
      <td>Email</td>
      <td>Number</td>
      <td>Role</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.user_name, edit_user_path(user) %></td>
        <td><%=user.full_name %></td>
        <td><%=user.email%></td>
        <td><%=user.phone %></td>
        <td><%=user.role%></td>
        <td>
          <% if !user.is_admin? %>
           <%= link_to "Delete", user_path(user), method: :delete, data: { confirm: 'Are you sure to delete' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate_for(@users) %>