.alert-animate {
  position: absolute;
  left: 50%;
  top: -80px;
  z-index: 9999;
  .alert-body{
    position: relative;
    left: -50%;
    background: #eee;
    min-width: 300px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    @include border-radius(5px);
    border: 1px solid #fff;
  }
}

label.required abbr{
  color: red;
  font-weight: bold;
}

form {
  max-width: 600px;
  padding: 20px;
  label {
    font-weight: 500;
  }
}

.input-row {
  margin-bottom: 15px;
}

label.inline {
  display: inline;
  width: auto !important
}

.inline-short {
  width: 6em !important;
}

.form {
  @include form-inline(10em);
}

.typeahead {
  z-index: 1051;
}

.empty-message{
  padding: 0 15px;
  color: red;
}

.input-row-close{
  margin-top: -15px;
  margin-bottom: 15px;
}