<div id='alert-group' >
  <div class="input-group">
    <input type="text" 
          class="form-control typeahead" placeholder="Group"
          data-url="<%= new_groups_alert_path(@alert) %>" >

    <span class="input-group-btn">
      <%= link_to "Add Group", alert_alert_groups_path(@alert), class: 'btn btn-default typeahead-add' %>
    </span>
  </div>

  <input type='hidden' class='typeahead-value' >
</div>