<%= simple_form_for @alert, html: {class: 'form form-inline', id: 'form-alert'} do |f| %>
  <div class='input-row'>
    <%=f.input :name, input_html: {class: 'form-control'} %>
  </div>
  
  <div class='input-row'>
    <%=f.input :url, input_html: {class: 'form-control'} %>
  </div>

  <div class='input-row'>
    <%=f.input :interval, as: :string, input_html: {class: 'form-control inline-short'} %>
    <%=f.input :interval_unit, label: false, collection: Alert::INTERVAL_UNITS, include_blank: false,
               wrapper_html: { class: 'inline' }, input_html: {class: 'form-control'} %>
  </div>

  <div class='input-row'>
    <label style='display: table-cell;'> Places </label>
    <div class='row' style='display: table-cell;'>

      <% Place.order('name').all.each_with_index do |place,index| %>
        <div class='col-lg-6'>
          <% has_place = false %>

          <% @alert.alert_places.each do |alert_place| %>
            <% if place.id == alert_place.place_id %>
                <%= hidden_field_tag "alert[alert_places_attributes][#{index}][id]", alert_place.id %>
                <%= check_box_tag "alert[alert_places_attributes][#{index}][_destroy]", 1, false, class: 'hidden destroyable-alert-place' %>
                <%= check_box_tag "alert[alert_places_attributes][#{index}][place_id]", place.id, true, 
                                  class: 'mark-place', id: "alert_place_place_#{index}", class: 'marked-place' %>
                <label for='<%="alert_place_place_#{index}" %>'><%= place.name %></label>
                <% has_place = true %>
            <% end %>
          <% end %>

          <% if !has_place %>
            <%= check_box_tag "alert[alert_places_attributes][#{index}][place_id]", place.id, false,
                                  class: 'mark-place', id: "alert_place_place_#{index}" %>
            <label for='<%="alert_place_place_#{index}" %>'><%= place.name %></label>
          <% end %>

        </div>

      <% end %>

    </div>
  </div>

  <div class='input-row'>
    <%=f.input :email_template, as: :text, input_html: {class: 'form-control', rows: 4, cols: 40} %>
  </div>

  <div class='input-row-close'>
    <label></label>
    <%=email_template_params_for(:alert_email_template) %>
  </div>

  <div class='input-row'>
    <%=f.input :sms_template, as: :text, input_html: {class: 'form-control', rows: 4, cols: 40} %>
  </div>

  <div class='input-row-close'>
    <label></label>
    <%=sms_template_params_for(:alert_sms_template) %>
  </div>

  <div class='input-row'>
    <label></label>
    <%=f.submit 'Save', class: 'btn btn-info', id: 'btn-alert-form' %>
  </div>

<% end %>