.left {
  float: left;
}
.right {
  float: right;
}

.pwd-label {
  border: none !important;
  box-shadow: none !important;
  display: inline !important;
  font-size: 24px !important;
}

.input-row {
  margin-bottom: 15px;
}

.input-inline {
  margin-left: 20px !important;
  margin-right: 5px !important;
  margin-top: -3px !important;
}

.input-inline-collection {
  margin-left: 6px !important;
  margin-right: 5px !important;
  margin-top: -3px !important;
}

.form-association {
  max-width: 540px;
}

.main-nav {
  background-color: whiteSmoke;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid white;
  text-align: center;
}