<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Alert system" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='container'>
      <div class='sign-in'> 
         <%= yield %>
      </div>
    </div>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>