<%= paginate_for(@members) %>
<%= page_header "List Member" do %>
  <%= link_to 'New Member', new_member_path() %>
<% end %>

<table class='table'>
  <thead>
    <tr>
      <td>Full Name</td>
      <td>Email</td>
      <td>Number</td>
      <td>Email Alert</td>
      <td>SMS Alert</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.full_name, edit_member_path(member) %></td>
        <td><%=member.email %></td>
        <td><%=member.phone %></td>
        <td><%=member.email_alert %></td>
        <td><%=member.sms_alert %></td>
        <td>
           <%= link_to "Delete", member_path(member), method: :delete, data: { confirm: 'Are you sure to delete this member' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate_for(@members) %>